[Unit]
Description=NVME telemetry Service

[Service]
Type=simple
PermissionsStartOnly=true
ExecStart=/usr/local/bin/nvme_telemetry.sh
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
